---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedIn from "../components/icons/LinkedIn.astro";
import Social from "../components/Social.astro";
import GitHub from "../components/icons/Github.astro";
import Mail from "../components/icons/Mail.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Briefcase from "../components/icons/Briefcase.astro";

const title =
  "Porfolio de Álvaro Bernal - Ingeniero Software y Desarrollador Web";
const description =
  "Este es el porfolio de Álvaro Bernal. Aquí encontrarás información sobre mi experiencia profesional y proyectos personales.";
---

<Layout title={title} , description={description}>
  <main>
    <SectionContainer class="py-44 pb-24">
      <img
        class="rounded-full size-16 mb-4"
        src="https://avatars.githubusercontent.com/u/80347035?v=4"
        alt="alvaro"
      />
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
        Hey, soy Álvaro <a
          class="flex justify-center items-center"
          href="https://linkedin.com/in/álvaro-bernal-a463a0269"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Badge>Trabajando</Badge>
        </a>
      </h1>
      <h2 class="text-2xl text-wrap">
        <span>Lorem, ipsum dolor sit amet consectetur</span>
        <span class="text-yellow-200 opacity-80"
          >adipisicing elit. Eius esse earum natus excepturi laboriosam
        </span>id repellat atque iure quae, rerum officiis nam, odio qui rem
        quis harum aliquam quia saepe? <span class="opacity-70"
          >PEQUEÑA DESCRIPCIÓN AQUÍ.</span
        >
      </h2>
      <nav class="flex gap-x-2 mt-8">
        <Social href="https://linkedin.com/in/álvaro-bernal-a463a0269">
          <LinkedIn class="size-6" />
          LinkedIn
        </Social>
        <Social href="https://github.com/alvarobernal2412">
          <GitHub class="size-6" />
          GitHub
        </Social>
        <Social href="mailto:alvarobc2412@gmail.com">
          <Mail class="size-6" />
          Email
        </Social>
      </nav>
    </SectionContainer>
    <SectionContainer id="experiencia">
      <h2 class="text-xl font-semibold mb-6 flex gap-x-3 items-center">
        <Briefcase class="size-7" />
        Experiencia Laboral
      </h2>
      <Experience />
    </SectionContainer>
  </main>
</Layout>
