---
const personalImageAlt = "Álvaro Bernal";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Álvaro Bernal. En 2018, inicié mi camino en la ingeniería de
      software, comenzando con una sólida formación académica que me ha
      permitido construir las bases de mi carrera en este apasionante campo.
      Actualmente estoy <strong
        >ampliando mis conocimientos en el área de la gestión de tecnologías de
        la información y en ingeniería cloud</strong
      >.
    </p>

    <p>
      Algunos de mis objetivos a largo plazo incluyen <strong
        >aumentar mi conocimiento y experiencia en el sector de la ingeniería de
        software</strong
      >.
    </p>

    <p>
      En el ámbito profesional, <strong
        >mi meta es crecer verticalmente dentro de la empresa</strong
      >, asumiendo mayores responsabilidades y aportando un valor añadido
      significativo. Además, <strong
        >me esfuerzo por mejorar continuamente mis habilidades interpersonales</strong
      >, reconociendo la importancia de las soft skills en el liderazgo y la
      colaboración efectiva.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/me.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 md:rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
