---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Octubre 2023 - Actualidad",
    title: "Técnico Especialista - Universidad de Sevilla",
    description:
      "Desarrollo de un sistema de gestión de conformidad basado en mashups. El sistema permite a los usuarios gestionar el cumplimiento de normas como la ISO, metodologías de desarrollo de software y procesos de negocio.",
    link: "https://status-landing-page.vercel.app",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
